* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    margin: 20px;
}

.two {
    border: 2.5px solid black;
    border-radius: 40px;
    margin: 20px;
    padding: 20px;
    font-size: large;

}

a {
    color: brown;
    font-size: 30px;
}

iframe {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px dashed black;
    border-radius: 25px;
    padding: 10px;
}